.list {
  width: 100%;
  max-width: 600px;
  background-color: white;
  margin: 50px 10%;
  border-radius: 8px;
  /* display: flex;
  align-items: center; */
  text-align: center;
}

.list h1 {
  padding: 20px 5px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}
.form input,
button {
  height: 30px;
}

.form button {
  background-color: orange;
  border: 1px solid rgb(138, 90, 0);
}

.products {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.products__list {
  border-bottom: 1px solid orange;
  padding: 10px;
}
